<div id="login">
  <div class="logos">
    <a href="#"><img src="/img/SGV_logo-SLA_login.svg" alt="SLA"></a>
    <a href="#"><img src="/img/SGV_logo-onemap.svg" alt="One Map Singapore"></a>
  </div>
  <div class="form">
    <form>
      <div class="title">
        <img src="/img/SGV_logo-cartodb_login.svg" />
        <h1>CartoDB <span>Geoprocessing Tools</span></h1>
      </div>
      <p>To get started, insert your CartoDB username and load one of your maps:</p>
      <input type='text' name='username' placeholder='CartoDB username' autocomplete="off" />
      <p class="error" id='invalid_user_text'>Invalid username</p>
      <div class="submit">
        <input type='submit' value='GO' />
      </div>
    </form>
  </div>
</div>
