<a href="#" class="option-button">
  <div style="background-image: url('http://a.basemaps.cartocdn.com/light_nolabels/6/30/24.png');" class="thumb"></div>


  Change basemap
</a>
  
<div class="base_map_poup">
  <div class="custom">
    <ul>
      <li>Here</li>
      <li>
        <ul class="thumbs here">
          <li title="Nokia Day" data-tipsy="Nokia Day" class="leaflet">
            <a data-name="Nokia Day" class="nokia_day">
              <div class="thumb" style="background-image:url(https://1.maps.nlp.nokia.com/maptile/2.1/maptile/newest/normal.day/6/30/24/256/png8?lg=eng&amp;token=A7tBPacePg9Mj_zghvKt9Q&amp;app_id=KuYppsdXZznpffJsKT24)"></div>
            </a>
          </li>
          <li title="Nokia Day Grey" data-tipsy="Nokia Day Grey" class="leaflet">
            <a data-name="Nokia Day Grey" class="nokia_day_grey">
              <div class="thumb" style="background-image:url(https://1.maps.nlp.nokia.com/maptile/2.1/maptile/newest/normal.day.grey/6/30/24/256/png8?lg=eng&amp;token=A7tBPacePg9Mj_zghvKt9Q&amp;app_id=KuYppsdXZznpffJsKT24)"></div>
            </a>
          </li>
          <li title="Nokia Night" data-tipsy="Nokia Night" class="leaflet">
            <a data-name="Nokia Night" class="nokia_night">
              <div class="thumb" style="background-image:url(https://1.maps.nlp.nokia.com/maptile/2.1/maptile/newest/normal.night/6/30/24/256/png8?lg=eng&amp;token=A7tBPacePg9Mj_zghvKt9Q&amp;app_id=KuYppsdXZznpffJsKT24)"></div>
            </a>
          </li>
          <li title="Nokia Day Transit" data-tipsy="Nokia Day Transit" class="leaflet">
            <a data-name="Nokia Day Transit" class="nokia_day_transit">
              <div class="thumb" style="background-image:url(https://1.maps.nlp.nokia.com/maptile/2.1/maptile/newest/normal.day.transit/6/30/24/256/png8?lg=eng&amp;token=A7tBPacePg9Mj_zghvKt9Q&amp;app_id=KuYppsdXZznpffJsKT24)"></div>
            </a>
          </li>
          <li title="Nokia Carnav Day Grey" data-tipsy="Nokia Carnav Day Grey" class="leaflet">
            <a data-name="Nokia Carnav Day Grey" class="nokia_carnav_day_grey">
              <div class="thumb" style="background-image:url(https://1.maps.nlp.nokia.com/maptile/2.1/maptile/newest/carnav.day.grey/6/30/24/256/png8?lg=eng&amp;token=A7tBPacePg9Mj_zghvKt9Q&amp;app_id=KuYppsdXZznpffJsKT24)"></div>
            </a>
          </li>
          <li title="Nokia Terrain Day" data-tipsy="Nokia Terrain Day" class="leaflet">
            <a data-name="Nokia Terrain Day" class="nokia_terrain_day">
              <div class="thumb" style="background-image:url(https://1.maps.nlp.nokia.com/maptile/2.1/maptile/newest/terrain.day/6/30/24/256/png8?lg=eng&amp;token=A7tBPacePg9Mj_zghvKt9Q&amp;app_id=KuYppsdXZznpffJsKT24)"></div>
            </a>
          </li>
          <li title="Nokia Hybrid Day" data-tipsy="Nokia Hybrid Day" class="leaflet">
            <a data-name="Nokia Hybrid Day" class="nokia_hybrid_day">
              <div class="thumb" style="background-image:url(https://1.maps.nlp.nokia.com/maptile/2.1/maptile/newest/hybrid.day/6/30/24/256/png8?lg=eng&amp;token=A7tBPacePg9Mj_zghvKt9Q&amp;app_id=KuYppsdXZznpffJsKT24)"></div>
            </a>
          </li>
          <li title="Nokia Satellite Day" data-tipsy="Nokia Satellite Day" class="leaflet">
            <a data-name="Nokia Satellite Day" class="nokia_satellite_day">
              <div class="thumb" style="background-image:url(https://1.maps.nlp.nokia.com/maptile/2.1/maptile/newest/satellite.day/6/30/24/256/jpg?lg=eng&amp;token=A7tBPacePg9Mj_zghvKt9Q&amp;app_id=KuYppsdXZznpffJsKT24)"></div>
            </a>
          </li>
          <li title="Nokia Reduced Day" data-tipsy="Nokia Reduced Day" class="leaflet">
            <a data-name="Nokia Reduced Day" class="nokia_reduced_day">
              <div class="thumb" style="background-image:url(https://1.maps.nlp.nokia.com/maptile/2.1/maptile/newest/reduced.day/6/30/24/256/png8?lg=eng&amp;token=A7tBPacePg9Mj_zghvKt9Q&amp;app_id=KuYppsdXZznpffJsKT24)"></div>
            </a>
          </li>
        </ul>
      </li>
    </ul>

    <ul>
      <li>Stamen</li>
      <li>
        <ul class="thumbs stamen">
          <li title="Toner" data-tipsy="Toner" class="leaflet">
            <a data-name="Toner" class="toner_stamen_labels">
              <div class="thumb" style="background-image:url(https://stamen-tiles-a.a.ssl.fastly.net/toner-background/6/30/24.png)"></div>
            </a>
          </li>
          <li title="Toner (labels below)" data-tipsy="Toner (labels below)" class="leaflet">
            <a data-name="Toner (labels below)" class="toner_stamen">
              <div class="thumb" style="background-image:url(https://stamen-tiles-a.a.ssl.fastly.net/toner/6/30/24.png)"></div>
            </a>
          </li>
          <li title="Toner Background" data-tipsy="Toner Background" class="leaflet">
            <a data-name="Toner Background" class="toner_background_stamen">
              <div class="thumb" style="background-image:url(https://stamen-tiles-a.a.ssl.fastly.net/toner-background/6/30/24.png)"></div>
            </a>
          </li>
          <li title="Toner Lite" data-tipsy="Toner Lite" class="leaflet">
            <a data-name="Toner Lite" class="toner_lite_stamen">
              <div class="thumb" style="background-image:url(https://stamen-tiles-a.a.ssl.fastly.net/toner-lite/6/30/24.png)"></div>
            </a>
          </li>
          <li title="Toner Lines" data-tipsy="Toner Lines" class="leaflet">
            <a data-name="Toner Lines" class="toner_lines_stamen">
              <div class="thumb" style="background-image:url(https://stamen-tiles-a.a.ssl.fastly.net/toner-lines/6/30/24.png)"></div>
            </a>
          </li>
          <li title="Toner Hybrid" data-tipsy="Toner Hybrid" class="leaflet">
            <a data-name="Toner Hybrid" class="toner_hybrid_stamen">
              <div class="thumb" style="background-image:url(https://stamen-tiles-a.a.ssl.fastly.net/toner-hybrid/6/30/24.png)"></div>
            </a>
          </li>
          <li title="Watercolor" data-tipsy="Watercolor" class="leaflet">
            <a data-name="Watercolor" class="watercolor_stamen">
              <div class="thumb" style="background-image:url(https://stamen-tiles-a.a.ssl.fastly.net/watercolor/6/30/24.jpg)"></div>
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <ul>
      <li>CartoDB</li>
      <li>
        <ul class="thumbs cartodb">
          <li title="Positron" data-tipsy="Positron" class="leaflet selected">
            <a data-name="Positron" class="positron_rainbow_labels">
              <div class="thumb" style="background-image:url(http://a.basemaps.cartocdn.com/light_nolabels/6/30/24.png)"></div>
            </a>
          </li>
          <li original-title="Dark matter" data-tipsy="Dark matter" class="leaflet">
            <a data-name="Dark matter" class="dark_matter_rainbow_labels">
              <div class="thumb" style="background-image:url(http://a.basemaps.cartocdn.com/dark_nolabels/6/30/24.png)"></div>
            </a>
          </li>
          <li title="Positron (labels below)" data-tipsy="Positron (labels below)" class="leaflet">
            <a data-name="Positron (labels below)" class="positron_rainbow">
              <div class="thumb" style="background-image:url(https://cartodb-basemaps-a.global.ssl.fastly.net/light_all/6/30/24.png)"></div>
            </a>
          </li>
          <li title="Dark matter (labels below)" data-tipsy="Dark matter (labels below)" class="leaflet">
            <a data-name="Dark matter (labels below)" class="dark_matter_rainbow">
              <div class="thumb" style="background-image:url(https://cartodb-basemaps-a.global.ssl.fastly.net/dark_all/6/30/24.png)"></div>
            </a>
          </li>
          <li title="Positron (lite)" data-tipsy="Positron (lite)" class="leaflet">
            <a data-name="Positron (lite)" class="positron_lite_rainbow">
              <div class="thumb" style="background-image:url(https://cartodb-basemaps-a.global.ssl.fastly.net/light_nolabels/6/30/24.png)"></div>
            </a>
          </li>
          <li title="Dark matter (lite)" data-tipsy="Dark matter (lite)" class="leaflet">
            <a data-name="Dark matter (lite)" class="dark_matter_lite_rainbow">
              <div class="thumb" style="background-image:url(https://cartodb-basemaps-a.global.ssl.fastly.net/dark_nolabels/6/30/24.png)"></div>
            </a>
          </li>
          <li title="CartoDB World Eco" data-tipsy="CartoDB World Eco" class="leaflet">
            <a data-name="CartoDB World Eco" class="eco_cartodb">
              <div class="thumb" style="background-image:url(https://cartocdn_a.global.ssl.fastly.net/base-eco/6/30/24.png)"></div>
            </a>
          </li>
          <li title="CartoDB World Flat Blue" data-tipsy="CartoDB World Flat Blue" class="leaflet">
            <a data-name="CartoDB World Flat Blue" class="flat_blue">
              <div class="thumb" style="background-image:url(https://cartocdn_a.global.ssl.fastly.net/base-flatblue/6/30/24.png)"></div>
            </a>
          </li>
          <li title="CartoDB World Midnight Commander" data-tipsy="CartoDB World Midnight Commander" class="leaflet">
            <a data-name="CartoDB World Midnight Commander" class="midnight_cartodb">
              <div class="thumb" style="background-image:url(https://cartocdn_a.global.ssl.fastly.net/base-midnight/6/30/24.png)"></div>
            </a>
          </li>
          <li title="CartoDB World Antique" data-tipsy="CartoDB World Antique" class="leaflet">
            <a data-name="CartoDB World Antique" class="antique_cartodb">
              <div class="thumb" style="background-image:url(https://cartocdn_a.global.ssl.fastly.net/base-antique/6/30/24.png)"></div>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
  

