<ul class="buttons">
  <li class="highlighted tooltip bottom" title="Bookmarks"><img src="/img/SGV_tool-bookmark.svg" alt="Bookmarks" /></li>
  <li class="tooltip bottom" data-tool="union" title="Union"><img src="/img/SGV_tool-union.svg" alt="Union" /></li>
  <li class="tooltip bottom" data-tool="erase" title="Erase"><img src="/img/SGV_tool-erase.svg" alt="Erase" /></li>
  <li class="tooltip bottom" data-tool="intersection" title="Intersect"><img src="/img/SGV_tool-intersect.svg" alt="Intersect" /></li>
  <li class="tooltip bottom" data-tool="clip" title="Clip"><img src="/img/SGV_tool-clip.svg" alt="Clip" /></li>
  <li class="separator"></li>
  <li class="tooltip bottom" title="Buffer"><img src="/img/SGV_tool-buffer.svg" alt="Buffer" /></li>
  <li class="tooltip bottom" data-tool="statistical" title="Stats"><img src="/img/SGV_tool-stat.svg" alt="Stats" /></li>
  <li class="separator"></li>
  <li class="tooltip bottom" title="Measure"><img src="/img/SGV_tool-measure.svg" alt="Measure" /></li>
  <li class="tooltip bottom" title="Area"><img src="/img/SGV_tool-area.svg" alt="Area" /></li>
</ul>
<div class="layers_control"></div>
<div class="toolholder"></div>
<div class="map_extra_controls">
  <ul class="buttons">
    <li class="tooltip" title="Report"><img src="/img/SGV_icon-report.svg" alt="Report" /></li>
  </ul>
</div>
