<li>
  <p class="title"><a href="<%= account %>/map/<%= map.id %>" jslink><%= map.name %></a></p>
  <% if(map.description){ %>
    <p class="description"><%= map.description %></p>
  <% } %>
  <% if(map.tags.length > 0){ %>
    <p class="tags">
      <% _.each(map.tags, function(tag){ %>
        <a href="#<%= tag %>"><%= tag %></a>
      <% })%>
    </p>
  <% } %>
</li>
<li>
  <div class="pagination">
    <span>Page 1 of 3</span>
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
  </div>
</li>