<div class="line_below">
  <div class="wrapper toolbar">
    <div class="search_tool" >
      <img src="/img/SGV_icon-search.svg" />
      Search
    </div>
    <div class="search_input">
      <input type="text" placeholder="search by name">
      <a class="clear_search" href="#"><img src="/img/SGV_icon-delete.svg"/></a>
    </div>
    <h2>
      <span class="number">0</span>&nbsp;Maps
    </h2>
    <ul class="tools" style="display:none">
      <li><img src="/img/SGV_icon-order_AZ.svg" title="Order by name"/></li>
      <li class="selected"><img src="/img/SGV_icon-order_recent.svg" title="Order by date"/></li>
    </ul>
  </div>
</div>
<div class="scrollable">
  <div class="wrapper">
    <div class="maplist">
      <ul></ul>
    </div>
  </div>
</div>
