<div class="header">
  <h4>Autosave</h4>
  <div class='toggle'></div>
</div>
<div class='co_api_key'>
  <p>There is a problem with your <em>API Key</em>...</p>
  <input type="text" placeholder="insert here your API Key" />
  <a href="<%= api_key_url %>" target="_blank" class='help'>How to get it? <img src="/img/SGV_icon-linkext.svg" /></a>
</div>

<p class="help"><img src="/img/SGV_icon-help.svg"> To activate the autosave functionality, insert your <strong>CartoDB API Key</strong>, so you can save in your map all new layers resultant from your analysis funcions.</p>
<div class="separator">
  <a href="#" id="closeSession">Close <span class="help">(Change user maps)</span></a>
</div>
