<div class="ctrls">
  <img class="drag" src="/img/SGV_drag-drop.svg">
  <span><%= layer_name %> </span>
  <a href="#" class="subviewcontrol tooltip" data-el="wizard" data-title="Wizard"><img src="/img/SGV_icon-wizard.svg" alt="Wizard"></a>
  <a href="#" class="subviewcontrol tooltip" data-el="cartocss" data-title="CartoCSS"><img src="/img/SGV_icon-cartocss.svg" alt="CartoCSS"></a>
  <a href="#" class="subviewcontrol tooltip" data-el="sql" data-title="SQL"><img src="/img/SGV_icon-sql.svg" alt="SQL"></a>
  <a href="#" class="toggle enabled">Toggle</a>

  <a href="#" class="remove tooltip" data-title="Remove"><img src="/img/SGV_icon-delete.svg" alt="Remove"></a>
</div>
<div class="subviewholder"></div>
