<div class='ctrls'>
  <span><%= layer_name %> </span>
  <a href='#' class='subviewcontrol' data-el='wizard'><img src="/img/SGV_icon-wizard.svg" alt="Wizard" title="Wizard"></a>
  <a href='#' class='subviewcontrol' data-el='cartocss'><img src="/img/SGV_icon-cartocss.svg" alt="CartoCSS" title="CartoCSS"></a>
  <a href='#' class='subviewcontrol' data-el='sql'><img src="/img/SGV_icon-sql.svg" alt="SQL" title="SQL"></a>
  <a href='#' class='toggle enabled'>Toggle</a>
  <a href='#' class='remove'><img src="/img/SGV_icon-delete.svg" alt="Remove" title="Remove"></a>
</div>
<div class='subviewholder'></div>
