@keyframes load {
  0% {
    stroke-dashoffset: 0;
    opacity: 1;
  }

  100% {
    stroke-dashoffset: 1260;
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    transform: rotateZ(-90deg);
  }

  100% {
    transform: rotateZ(270deg);;
  }
}

@keyframes toolHolderAppear {
  0% {
    transform: translateY(-10px);
    opacity: .00001;
    visibility: hidden;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes toolHolderDisappear {
  0% {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
  100% {
    transform: translateY(-10px);
    opacity: .00001;
    visibility: hidden;
  }
}
