#mapview {

  .layers_control {
    position: relative;

    .panel {
      visibility: hidden;
      opacity: .00001;
      width: 380px;
      max-height: calc(~'100vh - ' 64px + 75px + 36px + 16px);
      overflow-y: auto;
      position: absolute;
      top: calc(~'100% + 13px');
      right: 0;
      background-color: @grey05;
      padding-bottom: 10px;
      border: 1px solid @grey20;
      border-radius: 0 0 0 3px;
      box-shadow: 0 2px 4px 0 fade(@black, 10%);
      transform: translateY(-25px);
      z-index: 110;

      transition: visibility 0s linear .25s, opacity .18s ease-in-out, transform .25s ease-in-out;

      &.show {
        visibility: visible;
        opacity: 1;
        transform: translateY(0px);

        transition: visibility 0s linear, opacity .25s ease-in-out .06s, transform .25s ease-in-out;
      }

      & > li {
        list-style: none;
        background-color: @white;
        padding: 0;
        border-bottom: 1px solid @grey10;

        // transition: background-color .10s ease-in-out;

        .ctrls {
          display: flex;
          align-items: center;

          span {
            flex: 1 1 auto;
            padding: 10px 0;
            overflow-x: hidden;
            text-overflow: ellipsis;

            transition: color .25s ease-in-out;
          }

          .drag {
            flex: 0 0 auto;
            cursor: grab;
            padding: 5px 0;
            margin-right: 10px;
            opacity: .5;
          }

          .subviewcontrol, .toggle, .remove {
            flex: 0 0 auto;
            margin: 0 5px;
          }

          .remove {
            opacity: .00001;
            // transition: opacity .10s ease-in-out;
            line-height: 0;
          }

          .subviewcontrol {
            display: none;
            outline: none;
            opacity: .75;
            line-height: 0;
            transition: opacity .10s ease-in-out;

            &.selected, &:hover {
              opacity: 1;
            }

            &.disabled {
              opacity: .00001;
              cursor: default;
            }
          }

          .remove {
            outline: none;
            img {
              border-radius: 50%;
              background-color: @grey10;
              padding: 5px;
            }

            &.disabled {
              cursor: default;
              opacity: .00001;
            }
          }
        }

        .subviewholder {
          background-color: @grey60;
          color: @grey30;
          position: relative;
          padding: 0 20px;

          transition: padding .20s ease-in-out;

          &:before {
            content: "";
            position: absolute;
            top: -6px;
            right: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 5px 6px 5px;
            border-color: transparent transparent @grey60 transparent;
            opacity: .00001;

            transition: transform .20s ease-in-out .25s, opacity .20s ease-in-out .25s;
          }

          &:after {
            content: '';
            display: block;
            clear: both;
          }

          &:empty {
            // display: none;

            &:before {
              transform: translateY(10px);
              opacity: .00001;
            }
          }

          & > div {
            height: 100%;
            max-height: 0;
            overflow: hidden;
            opacity: .00001;

            transition: max-height .3s ease-in-out, opacity .3s ease-in-out;
          }

          &.sql, &.cartocss, &.wizard {
            padding: 20px 20px 10px;

            &:before {
              opacity: 1;
            }

            & > div {
              max-height: 475px;
              opacity: 1;
            }
          }

          &.sql {
            &:before {
              transform: translateX(-76px);
            }
          }

          &.cartocss {

            &:before {
              transform: translateX(-112px);
            }
            .cartolayer{
              .button.apply{
                display: none;
              }

            }
          }

          &.wizard {
            padding: 0 20px;

            li {
              display: flex;
              align-items: center;
              padding: 10px 0;
              border-bottom: 1px solid @grey55;

              &:last-child {
                border-bottom: none;
              }

              label {
                flex: 1 0 170px;
              }

              input, select {
                margin-left: 8px;
              }

              select {
                width: 145px;
              }
            }
            &:before {
              transform: translateX(-149px);
            }
          }

          pre {
            color: @white;
            font-family: courier, monospace;
            font-weight: 600;
            margin-bottom: 10px;
          }

          textarea {
            width: 100%;
            height: 400px;
            padding: 10px;
            background-color: @grey55;
            color: @white;
            border: 1px solid @grey75;
            border-radius: 2px;
            font-family: courier, monospace;
            font-weight: 600;
            resize: none;
          }

          .button {
            float: right;
            margin-top: 10px;

            &.notfilled {
              color: @white;

              &:hover {
                color: fade(@white, 80%);
              }
            }
          }

          input[type="color"] {
            height: 30px;
            width: 16px;
            padding: 0;
            border: 1px solid @grey75;
            border-radius: 2px;
            background-color: @grey55;
            outline: none;
          }

          input[type="number"] {
            height: 30px;
            width: 56px;
            padding: 8px;
            border: 1px solid @grey75;
            border-radius: 2px;
            background-color: @grey55;
            color: @white;
            outline: none;

            &.opacity {
              background: url('/img/SGV_bg-opacity.png') repeat @white;
              color: @grey60;
            }
          }

          select {
            padding: 8px;
            border: 1px solid @grey75;
            border-radius: 2px;
            background: url('/img/SGV_arrow-select-grey.svg') no-repeat calc(~'100% - 10px') center @grey60;
            color: @white;
            outline: none;

            -webkit-appearance: none;
            -moz-appearance: none;
            text-indent: 1px;
            text-overflow: '';
            outline: none;
          }

          label {
            color: @grey30;
            font-size: 14px;
          }
        }

        &.disabled {
          .ctrls {
            span {
              color: @grey35;
            }

            &:hover {
              .subviewcontrol, .remove {
                opacity: .00001;
              }
            }
          }

          .subviewholder {
            display: none;
          }
        }

        &.composed {
          background-color: fade(@blue_light, 5%);
          .ctrls {
            span {
              font-style: italic;
            }
          }
        }

        &:hover {
          background-color: @grey05;

          .ctrls {
            .remove {
              opacity: 1;

              &.disabled {
                opacity: .00001;
              }
            }

            .subviewcontrol {
              display: block;
            }
          }
        }

        &.selected {
          .ctrls {
            .remove {
              opacity: 1;
            }

            .subviewcontrol {
              display: block;
            }
          }
        }

        // Fix tooltips
        &:first-child {
          .tooltip {
            &:not(.disabled):hover {
        			&:before {
        				bottom: auto;
        				top: calc(~'100% + 8px - 6px');
        				border-color: fade(@grey80,90%) transparent;
        				border-width: 0 6px 6px 6px;
        			}

        			&:after {
        				bottom: auto;
        				top: calc(~'100% + 8px');
        			}
        		}
          }
        }
      }
    }
  }
}
