@import "src/css/lib/Pepa/reset.less";
@import "src/css/lib/Pepa/base.less";

/* Colours palette */
@blue_main: #007697;
@blue_light: #3c7fbb;
@blue_lighter: #6d9fcc;
@blue_dark: #006687;
@white: #fff;
@grey10: #ededed;
@grey20: #dddddf;
@grey60: #55555d;
@grey75: #3d3b3c;

@font : 'Lato', sans-serif;

.fontweight(@fweight){
	font-weight: @fweight;
  font-family: @font;
}

.font(){
  .fontweight(400);
}

.font(@style) when(@style=italic){
  .font();
  font-style: italic;
}

.font(@style) when(@style=extralight){
  .fontweight(200);
}

.font(@style) when(@style=extralightitalic){
  .font(extralight);
  font-style: italic;
}

.font(@style) when(@style=light){
  .fontweight(300);
}

.font(@style) when(@style=lightitalic){
  .fontweight(light);
  font-style: italic;
}

.font(@style) when(@style=semibold){
  .fontweight(600);
}

.font(@style) when(@style=semibolditalic){
  .fontweight(semibold);
  font-style: italic;
}

.font(@style) when(@style=bold){
  .fontweight(700);
}

.font(@style) when(@style=bolditalic){
  .fontweight(bold);
  font-style: italic;
}

.font(@style) when(@style=ultrabold){
  .fontweight(900);
}

.font(@style) when(@style=ultrabolditalic){
  .fontweight(ultrabold);
  font-style: italic;
}

body{
	.font();
	font-size: 14px;
	display: flex;
	flex-direction: column;
}

header {
	display: flex;
	align-items: center;
	height: 75px;
	width: 100%;
	background-color: @blue_main;
	box-shadow:inset 0 -2px 0 0 rgba(0,0,0,.2);
	color: @white;

	.back-btn {
		margin: 0 10px 0 20px;
	}

	h1 {
		flex: 1 1 auto;
		margin: 0 10px;
		.font(light);
		font-size: 1.7em;
	}

	.logos {
		padding-right: 10px;
		a {
			margin: 0 10px;
			img {
				height: 42px;
			}
		}
	}

	.user {
		flex: 0 0 200px;
		height: 100%;
		display: flex;
		padding: 20px;
		align-items: center;
		background-color: rgba(255,255,255,.05);
		box-shadow: inset 2px 0 0 0 rgba(0,0,0,.2);
		cursor: pointer;

		span {
			flex: 1 1 100%;
			padding: 0 10px;
		}

		.save-status {
			flex: 0 0 42px;
			height: 42px;
			width: 42px;
			background-color: @blue_dark;
			background-repeat: no-repeat;
			background-position: center;
			border-radius: 2px;

			&.des {
				background-image: url('/img/SGV_icon-autosave_des.svg');
			}

			&.act {
				background-image: url('/img/SGV_icon-autosave_act.svg');
			}

			&.waiting {
				background-image: url('/img/SGV_icon-autosave_waiting.svg');
			}
		}
	}
}

main {
	flex: 1 1 auto;

	.toolbar {
		display: flex;
		align-items: center;
		height: 64px;
		background-color: @grey10;
		border-bottom: 1px solid @grey20;
		border-top: 1px solid @white;

		.buttons {
			flex: 1 1 auto;
			height: 100%;
			display: flex;
			align-items: center;

			li {
				display: inline-block;
				vertical-align: middle;
				margin: 0 7px;

				&:first-child {
					margin-left: 0;
				}

				&.highlighted {
					display: flex;
					align-items: center;
					height: 100%;
					padding: 0 16px;
					background: fade(@grey20, 50%);
					border: 1px solid @grey20;
					border-width: 0 1px;
				}

				&.separator {
					border-left: 1px solid @grey20;
					width: 1px;
					height: 32px;
				}

				img {
					padding: 1px;
					background-color: @white;
					border: 1px solid @blue_lighter;
					border-radius: 2px;
					cursor: pointer;
				}

				&.selected {
					img {
						padding: 0;
						border-width: 2px;
					}
				}
			}
		}

		.layers_control {
			.header {
				display: flex;
				align-items: center;
				padding-right: 10px;

				p.title {
					color: @grey75;
					font-size: 1.3em;
					line-height: 1em;
					margin-right: 10px;

					span {
						font-size: 0.75em;
						color: @grey60;
					}
				}
			}
		}
	}

	.mapHolder {
		display: flex;
		height: 100%;

		.map {
			flex: 1 1 100%;
			height: 100%;
		}
	}
}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 34px;
	width: 100%;
	padding: 10px;
	display: flex;
	border-top: 1px solid @grey20;
	font-size: 1em;
	line-height: 1em;
	color: @grey60;

	p:first-child {
		flex: 1 1 auto;
	}

	a {
		color: @blue_light;
	}
}

.loading{

	&:before{
		content: 'Cargando...';
		display:block;
	}
}
