/* Colours palette */
@blue_main: #007697;
@blue_light: #3c7fbb;
@blue_medium: #346ca0;
@blue_lighter: #6d9fcc;
@blueish_white: #ebf2f8;
@blue_more_lighter: #f5f8fc;
@blue_dark: #006687;
@green: #8eb83f;
@yellow: #faffbd;
@orange: #ff9933;
@waiting: #FF6600;
@white: #fff;
@black: #000;
@grey05: #f6f6f6;
@grey10: #ededed;
@grey20: #dddddf;
@grey30: #ccccce;
@grey35: #bebec1;
@grey50: #808086;
@grey55: #6e6e73;
@grey60: #55555d;
@grey75: #3d3b3c;
@grey80: #27272e;
@grey90: #131313;
@red_main:#cc3333;
@red_pale: #e59999;


/* Sizes */
@headerHeight: 75px;
@footerHeight: 34px;
@mapToolbarHeight: 64px;

/* Fonts */
@font : 'Lato', sans-serif;
