/* Colours palette */
@blue_main: #007697;
@blue_light: #3c7fbb;
@blue_medium: #346ca0;
@blue_lighter: #6d9fcc;
@blue_dark: #006687;
@white: #fff;
@grey10: #ededed;
@grey20: #dddddf;
@grey60: #55555d;
@grey75: #3d3b3c;

/* Sizes */
@mapToolbarHeight: 64px;

/* Fonts */
@font : 'Lato', sans-serif;
