<div id="bookmark">
	<div class="header_b">
		<h3>Bookmarks <a href="#" class="add_b">Add</a></h3>
		<div class="add_block">
			<input type="text" placeholder="Write Bookmark Title">
			<a href="#" class="cancel_add">Cancel</a>
			<a href="#" class="save_b">Save</a>
		</div>
		<div class="error_block">
			<span>This name is already in use</span>
			<a class="close_error" href="#">ok</a>
		</div>
	</div>
	<%if(bookmarks.length == 0){%>
		<p class="not_bookmark">No bookmark has been added yet.</p>
	<%}else{%>
	<ul class="bookmarks_list">
		<%_.each(bookmarks,function(b){%>
		<li bookmark="<%=b.title%>">
			<%=b.title%>
			<a href="#" class="remove"></a>
			<div class="remove_block">
				<a href="#" class="cancel_remove">Cancel</a>
				<a href="#" class="confirm_remove">Delete full report</a>
			</div>
		</li>
		<%})%>
	</ul>
	<%}%>
</div>