<div class="header">
  <h3>Buffer</h3>
  <div class="actions">
  <a href='#' class='button notfilled cancel'>Cancel</a>
  <a href='#' class='run button disabled'>
    <div class="loadingbar">
      <div class='loading-ico'>
        <svg viewBox="-10 -10 220 220">
          <path d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" stroke-dashoffset="0">
          </path>
        </svg>
      </div>
    </div>
    <span>Run <img src="/img/SGV_icon-check-white.svg"></span>
  </a>
  </div>
</div>
<div class="content">
  <ol>
    <li>
      <p class="title">Layer containing features to buffer</p>
      <select name='input' class="modelattr">
        <option>Choose layer...</option>
        <% _.each(inputLayers,function(l){ %>
          <option value="<%= l.gid %>" <%=l.gid==m.input ? 'selected' : ''%>> <%= l.options.layer_name %></option>
        <% }); %>
      </select>
      <p class="middle" style="display: none">
        <img src="/img/SGV_icon-addfeature.svg" />
        <span>or add feature</span>
        <a href="#" class="toolbutton tooltip bottom" data-title="Draw a point">
          <img src="/img/SGV_tool-draw-point.svg">
        </a>
        <a href="#" class="toolbutton tooltip bottom" data-title="Draw a line">
          <img src="/img/SGV_tool-draw-line.svg">
        </a>
      </p>
    </li>
    <li>
      <p class="title">Buffer size</p>
      <div class="optselector">
        <input class="modelattr" type="radio" name="type" value="input" data-title="Distance" <%= m.type=='input' ? 'checked' : '' %>/>
        <input class="modelattr" type="radio" name="type" value="field" data-title="Field" <%= m.type=='field' ? 'checked' : '' %> />
      </div>
      <div class="size_input <%= m.type=='input' ? '' : 'hide' %>" data-type="input">
        <input class="modelattr keyup" name="type_input" type="number" step="100" min="0" value="<%=m.type_input%>" />
        <select class="modelattr" name='unit'>
          <option value="m" <%= m.unit == 'm' ? 'selected' : '' %>>Meters</option>
          <option value="km" <%= m.unit == 'km' ? 'selected' : '' %>>Kilometers</option>
        </select>
      </div>
      <div class="size_input <%= m.type=='field' ? '' : 'hide' %>" data-type="field">
        <select class="modelattr" name='type_field'>
          <option>Select a field</option>
        </select>
      </div>
    </li>
    <li>
      <p class="title">Options</p>
      <div>
        <input type="checkbox" class="modelattr" name="disolve" <%= m.disolve ? 'checked' : '' %>/>
        <label>Dissolve results</label>
      </div>
    </li>
    <li>
      <p class="title">Result Layer</p>
      <div>
        <label for="output-name">Name</label>
        <input class="modelattr keyup" type="text" id="output-name" name='name' placeholder='Write a layer name' value="<%= m.name%>" />
      </div>
    </li>
