<div class="header">
  <h3><%= title %></h3>
  <div class="actions">
  <a href='#' class='button notfilled cancel'>Cancel</a>
  <a href='#' class='run button disable'>
    Run
    <img src="/img/SGV_icon-check-white.svg">
  </a>
  </div>
</div>
<div class="content">
  <ol>
    <li>
      <p>Input Layer</p>
      <select name='input'>
        <option>Choose layer...</option>
      </select>
    </li>
    <li>
      <p>Cutting Layer</p>
      <select name='overlay'>
        <option>Choose layer...</option>
      </select>
    </li>
    <li>
      <p>Result Layer</p>
      <label for="output-name">Name</label>
      <input type="text" id="output-name" name='name' placeholder='Write a layer name' />

      <% if (output_type) { %>
        <label for="output_type">Output</label>
        <select name='output_type'>
          <option value=1>Points</option>
          <option value=2>Lines</option>
          <option value=3>Polygons</option>
        </select>
      <% } %>
    </li>
</div>
