<div class="header">
  <h3><%= title %></h3>
  <div class="actions">
  <a href='#' class='button notfilled cancel'>Cancel</a>
  <a href='#' class='run button disabled'>
    Run
    <img src="/img/SGV_icon-check-white.svg">
  </a>
  </div>
</div>
<div class="content">
  <ol>
    <li>
      <p class="title">Input Layer</p>
      <select name='input'>
        <option>Choose layer...</option>
      </select>
    </li>
    <li>
      <p class="title">Cutting Layer</p>
      <select name='overlay'>
        <option>Choose layer...</option>
      </select>
    </li>
    <li>
      <p class="title">Result Layer</p>
      <div>
        <label for="output-name">Name</label>
        <input type="text" id="output-name" name='name' placeholder='Write a layer name' />
      </div>
    </li>
</div>
