<div class="header">
  <h3><%= title %></h3>
  <div class="actions">
  <a href='#' class='button notfilled cancel'>Cancel</a>
  <a href='#' class='run button disabled'>
    Run
    <img src="/img/SGV_icon-check-white.svg">
  </a>
  </div>
</div>
<div class="content">
  <ol>
    <li>
      <p class="title">Input Layer</p>
      <select name='input'>
        <option>Choose layer...</option>
      </select>
    </li>
    <li class="field_list">
      <p class="title">Fields and operations</p>

      <div class="wraper_field">
        <div>
	        <select name='field'>
	          <option class="choose">Choose field...</option>
	        </select>
	        <a href="#" class="add hide"></a>
        </div>
	      <div class="options"></div>
      </div>

    </li>
    <li>
      <p class="title">Results</p>
      <div>
        <label for="output-name">Name</label>
        <input type="text" id="output-name" name='name' placeholder="Write the report's name" />
      </div>
    </li>
</div>
